# Ignore testing data and logs
training.csv
test.csv
error.log

# Ignore testing scripts
test_api.py
generate.py
predict.py
train.ipynb
train.py

# Ignore uploaded documents
uploads/

# Ignore Python specific caches
__pycache__/
*.pyc
